<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Australia</title>
  </head>
  <body style="background-color: rgb(242,242,211)">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AHOCC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="../templates/index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/aboutus.html">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/contactus.html">contact us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          association
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../templates/country.html">country</a>
          <a class="dropdown-item" href="../templates/study_abroad.html">study abroad</a>
           <a class="dropdown-item" href="../templates/freecounselling.html">Register</a>
        </div>
    </ul>
  </div>
</nav>
<style>
	h1 {
		margin-top: 30px;
		margin-bottom:10px; 
	}
</style>
<div style="margin:40px; ">
  	<h1 style="text-align: center; margin-bottom: 30px;">Study in Australia</h1>
Australia is one of the top study destinations with an excellent education system. With 8 out of 120 World's Top Universities and 5 out of 30 Best Student Cities in the World, Australia is home to over 1100 institutions offering a wide range of programs.
According to statistics, 35 Australian universities are among the world’s best-ranked universities. The country spends up to 250 million dollars per year in financial aids, scholarships and grants for international students to study in Australia.
Known globally as one of the world’s most diverse and welcoming countries, with migrants from about 200 countries, the Australian society is a mixture of cultures that blend into a tolerant and relaxed lifestyle. Australia has consistently ranked in the world’s top 10 most liveable countries.
The contemporary lifestyle and indigenous culture attracts many international students every year.

<h1 >Australia for International Students</h1>
Australia has gained immense popularity among international students as an ideal study destination. While it promises to offer high-quality education, it also ticks all boxes fulfilling other expectations of international students that makes studying and living in Australia a unique experience. The relatively flexible entry criteria to get admission in Australia with easier access to high ranked universities and the study schedules allow international students to manage their studies, research and part-time employment with ease. Its multicultural society with safe learning environment and friendly natives offers a home away from home making masters or bachelors study in Australia an experience of a lifetime. 
<br>
<h1>Why Study in Australia?</h1>
Australian universities are recognized worldwide for the quality of teaching, research and graduate employment. The popular study destination excels in areas like science, technology, business, education and humanities. Students have an option at every level of study in Australia be it bachelors, graduate certificates, diplomas, masters or a doctorate. The Australian Universities provide an environment that promotes innovation, independent thought and creativity. Students can work part time for 40 hours every fortnight while pursuing education. International students get two years of post-study work visa allowing them to work in Australia and explore further horizons. No doubt Australia stands to be the third most preferred study abroad destination
<br>
<h1>Qualifying Exams & Coaching</h1>
<ul>
	<li>IELTS</li>
	<li>TOEFL iBT</li>
	<li>PTE</li>
</ul>
<br>
<h1>Cost of Education in Australia</h1>
The cost of study in Australia varies depending on the degree you want to pursue i.e. diploma, bachelors, masters or Ph.D. and also according to the ranking of the university. The average cost of study in Australia is between A$ 24000- A$ 36000 per year for under-graduate or post-graduate courses.
<br>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
