<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>USA</title>
  </head>
  <body style="background-color: rgb(242,242,211)">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AHOCC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="../templates/index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/aboutus.html">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/contactus.html">contact us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          association
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../templates/country.html">country</a>
          <a class="dropdown-item" href="../templates/study_abroad.html">study abroad</a>
           <a class="dropdown-item" href="../templates/freecounselling.html">Register</a>
        </div>
    </ul>
  </div>
</nav>
<style>
	h1 {
		margin-top: 30px;
		margin-bottom:10px; 
	}
</style>
<div style="margin:40px; ">
  	<h1 style="text-align: center; margin-bottom: 30px;">Study in ireland</h1>
Ireland, also entitled to be Europe’s most entrepreneurial nation, is a beautiful island country, with exceptional job opportunities. With World-Class Universities, internationally recognized qualifications and extensive choice of courses, education in Ireland is value for money due to shorter and more intensive courses. It is home to many of the world’s top high-performance companies such as Google, Facebook, Twitter, Apple, Intel, Genzyme, and EA Games. It’s also a hub for the World’s Largest IT, Pharma and Finance Companies offering excellent employment opportunities for International Students. 
Chances to get indefinite right to stay also makes Ireland an ideal study destination in Europe.


<h1 >Ireland for International Students</h1>
Ireland is making a headway as one of the most preferred study destinations for international students in Europe as it has one of the best education systems in the world. Majority of the international students are keen on getting admission in Ireland as it is an English-speaking country. Its higher education system ranks in the world’s top 20. Ranked to be the most peaceful place universally, named as the friendliest country, secured a place in the world’s top 10 for Better Life Index.all these factors and the sociability and warmth of Irish citizens make Ireland an easily adaptable nation for international students.
<br>
<h1>Why Study in Ireland?</h1>
Ireland is the ideal study destination for those looking for IT, Pharma or Finance related courses due to the good job opportunities available here. The higher education institutions in Ireland offer 5000+ programs with universally acknowledged qualifications in varied fields leaving ample option for international students to study in Ireland. The tuition fees in Irish universities is reasonable as compared to other popular study destinations. Most of the master’s degrees in Ireland are for one-year duration. International students at postgraduate or Ph.D. level are eligible for 24 months stay back option.
<br>
<h1>Qualifying Exams & Coaching</h1>
<ul>
	<li>IELTS</li>
</ul>
<br>
<h1>Cost of Education in Ireland</h1>
The cost of education in Ireland ranges between 9000 Euros to 25,000 Euros per year for the undergraduate courses and 11,000 Euros to 25,000 Euros per annum for the post graduate courses. The tuition fee varies depending on the chosen course as well as the university. The living expenses range from 7000 to 10000 euros per annum.
<br>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>