<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Australia</title>
  </head>
  <body style="background-color: rgb(242,242,211)">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AHOCC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="../templates/index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/aboutus.html">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/contactus.html">contact us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          association
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../templates/country.html">country</a>
          <a class="dropdown-item" href="../templates/study_abroad.html">study abroad</a>
           <a class="dropdown-item" href="../templates/freecounselling.html">Register</a>
        </div>
    </ul>
  </div>
</nav>
<style>
  h1 {
    margin-top: 30px;
    margin-bottom:10px; 
  }
</style>
<div style="margin:40px; ">
    <h1 style="text-align: center; margin-bottom: 30px;">Study in New Zealand</h1>
New Zealand has made big strides in the area of international education in the last few years. From high quality education to unbeatable lifestyle, this is a wonderful place to live and learn.

It has a varied education system with 8 universities, 16 Institutes of Technology & Polytechnics and a number of private institutions, all known for world class education. The New Zealand study abroad experience is one of a kind with perfect programs for students from almost every major.
The education system is controlled with strong quality assurance systems which gives you the flexibility to pick the institution of your choice, in the city or town of your preference, and be rest assured of quality education.
Due to these reasons, New Zealand has developed as an ideal study destination.


<h1 >New Zealand for International Students</h1>
New Zealand has been gaining ground as a popular study destination among international students owing to the numerous advantages the country offers. Globally recognised as a provider of quality education, courses less expensive as compared to the US and the UK, high-quality living conditions, and excellent opportunities for employment on completion of studies, are a few reasons worth mentioning. The country also offers prestigious scholarships to international students applying for Bachelors’ and Masters’ degrees. The support services to study in New Zealand for international students are among the best in the world and the country is welcome to immigration more than almost any other country.
<br>
<h1>Why Study in New Zealand?</h1>
New Zealand is the world's second most peaceful country with all the 8 State-Funded Universities in the top 3% world university rankings. The country has lower cost of education and living compared to other study abroad destinations. Flexible entry requirements and rolling intakes with the possibility of admissions throughout the year provide greater scope for international students to get admission in New Zealand. Scholarships are offered to students from over 90 countries and India is one among them. Fast visa processing, internships, part time job opportunities, post study work visa up to 3 years and an opportunity for permanent residence make New Zealand the perfect study abroad destination.
<br>
<h1>Qualifying Exams & Coaching</h1>
<ul>
  <li>IELTS</li>
  <li>TOEFL</li>
  <li>PTE</li>
</ul>
<br>
<h1>Cost of Education in New Zealand</h1>
The cost of studying in New Zealand is affordable as compared to other study abroad destinations. The tuition fee depends upon the chosen course and its duration. The cost of study for an undergraduate degree varies from NZ$ 18,000 to NZ$ 40,000 per year and the expenses for a post-graduate degree would vary between NZ$ 20,000 to NZ$ 35,000. The living expenses varies depending upon the location, lifestyle and accommodation and may range between NZ$ 10,000 to NZ$ 15,000 per year.
<br>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
