<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>USA</title>
  </head>
  <body style="background-color: rgb(242,242,211)">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AHOCC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="../templates/index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/aboutus.html">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/contactus.html">contact us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          association
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../templates/country.html">country</a>
          <a class="dropdown-item" href="../templates/study_abroad.html">study abroad</a>
           <a class="dropdown-item" href="../templates/freecounselling.html">Register</a>
        </div>
    </ul>
  </div>
</nav>
<style>
	h1 {
		margin-top: 30px;
		margin-bottom:10px; 
	}
</style>
<div style="margin:40px; ">
  	<h1 style="text-align: center; margin-bottom: 30px;">Study in Singapore</h1>
Singapore has outpaced the other Asian countries in terms of world-class education and is rapidly emerging as the most popular study destination in Asia. 
The country’s two most leading universities, the National University of Singapore and the Nanyang Technological University, are ranked in the World’s Top 20 as per the QS World University Rankings. The escalating recognition of Singapore institutions owing to affiliations with top international universities in the USA, Australia and the UK offer the unparalleled benefit of degrees to students.
The country is also famous for Transfer Programs wherein students get a chance to take a transfer from a Singapore institution to institutions in Australia, US or UK. 
<br>

<h1 >Singapore for International Students</h1>
Singapore, popularly known as the IT and Business hub of Asia, is a small country with a booming and very stable economy. It is not only one of the most economic options but also one of the safest places in Asia to pursue higher studies. The Government of Singapore and Universities in Singapore offer scholarships for international students to get admissions and study in Singapore institutions. The best part is that Singapore offers international students a high probability of in-country employment after graduation.
There are ample job opportunities for international students as it is home to more than 7000 MNCs.

<br>
<h1>Why Study in Singapore</h1>
Singapore is one of the best places in Asia to pursue Business Management, Computing & IT, Hospitality or Tourism courses. The Universities in Singapore are globally recognized and encourage independent learning. High quality education, multiple intakes, possibility of admission & visa without IELTS, shorter duration courses like Masters in 1 year, Bachelors in 2 or 3 years, fast visa process with minimal financial documents, affordable tuition fees and living expenses, paid-unpaid internships are the beneficial aspects for international students in Singapore.
<br>
<h1>Qualifying Exams & Coaching</h1>
<ul>
	<li>  IELTS/TOEFL (Not Mandatory)</li>
</ul>
<br>
<h1>Cost of Education in Singapore</h1>
The cost of education in Singapore varies depending on the level of study and the choice of course, i.e., it would be different for diploma, bachelors and master’s courses. On an average, the tuition fees for Diploma Courses ranges from S$ 8000 to S$ 15,000 per annum, for Bachelors Courses from S$ 10,000 to S$ 20,000 and for P.G. Diplomas and Masters Courses it can range from S$ 25,000 to S$ 50,000 per annum. Living and other miscellaneous expenses may sum up to S$ 15,000 per annum.
<br>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>