<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>USA</title>
  </head>
  <body style="background-color: rgb(242,242,211)">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AHOCC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="../templates/index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/aboutus.html">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../templates/contactus.html">contact us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          association
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../templates/country.html">country</a>
          <a class="dropdown-item" href="../templates/study_abroad.html">study abroad</a>
           <a class="dropdown-item" href="../templates/freecounselling.html">Register</a>
        </div>
    </ul>
  </div>
</nav>
<style>
	h1 {
		margin-top: 30px;
		margin-bottom:10px; 
	}
</style>
<div style="margin:40px; ">
  	<h1 style="text-align: center; margin-bottom: 30px;">Study in USA</h1>
The United States of America has been a global leader in the field of education and boasts of a lion’s share of top ranked universities according to all major international rankings. Few countries offer as many high ranked universities and noble laureate academia, as USA does. As a matter of fact, nearly 50 of the top 200 universities in the world are based in USA.
Universities in USA are also credited for innumerable patents and ground-breaking innovations, offering a chance to study and compete with some of the finest minds in the respective fields. 
Flexibility of applying to different fields of study and a wide variety of Research-Centric Science and Technology Courses are the distinguishing features because of which aspirants strive to get admission in USA.


<h1 >USA for International Students</h1>
USA has been the most preferred choice of study for international students owing to its 4,000 accredited colleges and universities, which offer a wide range of programs to pursue bachelors or masters in USA. The country offers excellent support facilities for international students to study in USA. It’s extremely flexible education system and a worldwide reputation of commitment to excellence draws students in huge numbers. The country has a vibrant diverse culture and its mixed society allows international students to integrate into the American life with ease.
<br>
<h1>Why Study in USA</h1>
Outstanding programs in numerous fields, optimized classroom experience, cutting-edge technology are some of the reasons that make USA one of the best countries to study in. International students can receive financial assistance in the form of full or partial tuition waiver, research assistantships, teaching assistantships, graduate assistantships, paid internships or part-time work options.Students can apply for the Optional Practical Training (OPT) after graduation that allows them to work in their chosen field for 12-36 months after completion of course. The median salary range after a four-year degree in US is $ 61,000 reaching to $ 1, 20,700 at mid-career level.
<br>
<h1>Qualifying Exams & Coaching</h1>
<ul>
	<li>IELTS</li>
	<li>TOEFL iBT</li>
	<li>PTE</li>
  <li>SAT for Bachelor's Degree </li>
<li>ACT for Bachelor's Degree </li>
<li>GMAT for MBA</li>
<li>GRE for all other Master's Degrees</li>
<li>IELTS</li>
<li>TOEFL iBT</li>
<li>PTE</li>
</ul>
<br>
<h1>Cost of Education in Australia</h1>
The cost of study in Australia varies depending on the degree you want to pursue i.e. diploma, bachelors, masters or Ph.D. and also according to the ranking of the university. The average cost of study in Australia is between A$ 24000- A$ 36000 per year for under-graduate or post-graduate courses.
<br>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>